<!-- Header -->
<%- include('./layout/header.ejs') %>
<style>
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
        
      <img src="/image/bank-index-4.png" alt="Bank Index" class="center" />
        
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
  
<%- include('./layout/footer/js.ejs'); %>

<!-- Additional Js -->
  
<!-- Footer -->

<%- include('./layout/footer.ejs') %>
