<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title>Web Admin</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row no-gutter">
            <!-- The image half -->
            <div class="col-md-6">
                <div class="login d-flex align-items-center py-5">
                    <!-- Demo content-->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-xl-7 mx-auto">
                                <h3 class="display-4" style="text-align: center">Welcome To</h3>
                                <p class="text-muted mb-4" style="text-align: center">Web Admin<p>
                                <image src="/image/bank-index-4.jpeg" class="center" />
                            </div>
                        </div>
                    </div><!-- End -->
                </div>
            </div>
            <!-- The content half -->
            <div class="col-md-6 bg-light">
                <div class="login d-flex align-items-center py-5">
                    <!-- Demo content-->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-xl-7 mx-auto">
                                <h3 class="display-4" style="text-align: center">LOGIN</h3>
                                <form autocomplete="off">
                                    <div class="form-group mb-3">
                                        <input id="inputEmail" 
                                            type="text" 
                                            name="username" 
                                            placeholder="Username"
                                            class="form-control border-0 shadow-sm px-4"
                                            required />
                                    </div>
                                    <div class="form-group mb-3">
                                        <input id="inputPassword" 
                                            type="password" 
                                            name="password" 
                                            placeholder="Password" 
                                            class="form-control border-0 shadow-sm px-4 text-primary" 
                                            required />
                                    </div>
                                    <div class="form-group mb-3">
                                        <div class="captcha-area">
                                            <div class="captcha-img">
                                              <img src="/image/captcha-bg.png" alt="Captch Background">
                                              <span class="captcha" id="cap" style="color: black;"></span>
                                            </div>
                                            <button class="reload-btn"><i class="fas fa-redo-alt"></i></i></button>
                                        </div>
                                    </div>
                                    <div class="status-text"></div>
                                    <div class="form-group mb-3">
                                        <input id="captcha" 
                                            type="text" 
                                            name="captcha" 
                                            placeholder="Captcha" 
                                            required="" 
                                            class="form-control border-0 shadow-sm px-4 text-primary" />
                                    </div>
                                    <button type="submit" class="btn btn-lg btn-primary float-end" id="login">Login</button>
                                </form>
                            </div>
                        </div>
                    </div><!-- End -->
                </div>
            </div><!-- End -->
        </div>
    </div>
</body>
<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Swal -->
<script src="/js/sweetalert2.min.js"></script>
<!-- script -->
<script src="/js/script.js"></script>
<script>
    $('#captcha').keypress(function(e) {
    var key = e.which;
    if (key == 13) // the enter key code
        {
        $('.float-end').click();
        return false;
        }
    });

    $(document).on('click', '.float-end', function (e) {
    e.preventDefault();

    var username = $("input[name=username]").val();
    var password = $("input[name=password]").val();
    var captcha = $("input[name=captcha]").val();
    var cap = document.getElementById('cap').innerText;
    var token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

    if (!username || !password) {
        return Swal.fire("Error","Username and Password required","error")
    }

    $.ajax({
        url:'/login',
        headers: {
            'CSRF-Token': token // <-- is the csrf token as a header
        },
        data:{
            username:username,
            password:password,
            captcha:captcha,
            cap:cap.replace(/\s/g, '')
        },
        type:'POST',
        success:function(response){
            if (response.code == 404) {
                Swal.fire(
                    response.label,
                    response.message,
                    response.status
                )
            } else {
                window.location.href = response.page;
            }
          },
          error: function (xhr, ajaxOptions, thrownError) {
            
          },
        });

    // Swal.fire({
    //   title: 'Are you sure want to delete?',
    //   text: "You won't be able to revert this!",
    //   icon: 'warning',
    //   showCancelButton: true,
    //   confirmButtonColor: '#3085d6',
    //   cancelButtonColor: '#d33',
    //   confirmButtonText: 'Yes, delete it!'
    // }).then((result) => {
    //   if (result.isConfirmed) {
        
    //   }
    // })
  });
</script>
</html>