<div class="modal-body">
	<form id="updateform" autocomplete="off">
		<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
		<input type="hidden" name="id" value="<%= id %>" />

		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Pcode</label>
			<div class="col-sm-10">
				<input type="text" 
					class="form-control"
					id="p_code" 
					name="p_code"
					value="<%= pcode %>"  
					placeholder="Pcode" 
					minlength="6"
					maxlength="6" readonly />
				</div>
			</div>

		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Descriptions</label>
			<div class="col-sm-10">
			<input type="text" 
				class="form-control"
				id="desc" 
				name="desc"
				value="<%= descriptions %>" 
				placeholder="Descriptions"
				minlength="1"
				maxlength="40" required />
			</div>
		</div>

		<div class="modal-footer">
			<button type="submit" class="btn btn-primary">Save</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		</div>
	</form>
</div>

<script>
	$(document).on('submit', '#updateform', function (event) {
    event.preventDefault();

	var id = $("input[name=id]").val();
    var descriptions = $("input[name=desc]").val();
    var pcode = $("input[name=p_code]").val();

    var token = document.querySelector('meta[name="csrf-token"]').getAttribute('content'); 

    $.ajax({
      url: "/update-master-inquiry",
      headers: {
        'CSRF-Token': token // <-- is the csrf token as a header
      },
      data:{
				id:id,
        descriptions:descriptions,
        pcode:pcode,
      },
      type:"POST",
      success:function(response){
      	if (response.code == 200) {
          Swal.fire(
            response.label,
            response.message,
            response.status
          ).then(nx => {
						location.reload();
					})
        } else {
          Swal.fire(
            response.label,
            response.message,
            response.status
          )
        }
      },
      error: function(error) {
        console.log(error);
      }
    });
  });
</script>